# Ignore Python virtual environments
venv/
.stats_method_venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore macOS system files
.DS_Store

# Ignore logs and temporary files
*.log
*.tmp

# Ignore environment variables and secrets
.env
